/*
Base Universal Style
*/

body
{
    font-family: Arial, Sans-Serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

div
{
    margin: 0 auto;
    display: block;
    text-align: left;
    vertical-align: top;
}

header, footer, nav, section
{
    display: block;
}

a:link, a:visited, a:active
{
    color: inherit;
}


/*
Generic Form Elements
*/

input
{
    position: relative;
}

input, textarea.textbox
{
    border: 1px solid black;
    padding: 2px;
    width: 200px;
}

input.short
{
    width: 90px;
}

textarea.textbox
{
    height: 10em;
}

span.seperator
{
    font-size: 18pt;
    font-weight: bold;
}

select.select
{
    width: 150px;
    font-weight: bold;
    border: 1px solid black;
}


/*
Header Style
*/

.Header
{
    display: inline-block;
    width: 100%;
    vertical-align: middle;
}
.Header div
{
    vertical-align: middle;
    display: inline;
}
/*
Sidebar Styles
*/

div#sidebar
{
    width: 200px;
    padding: 0 10px 0 10px;
    float: left;
    position: fixed;
    top: 130px;
}

div#sidebar.fixed
{
    position: fixed;
    top: 130px;
}

div#sidebar ul
{
    margin-left: 0px;
    padding: 0px;
}

div#sidebar li
{
    width: 100%;
    display: inline-block;
    background-color: White;
    height: 20px;
    color: Black;
    font-weight: bolder;
    font-size: 13pt;
    margin-left: 0;
    padding: 5px;
    position: relative;
    z-index: 5;
}


div#sidebar #dvSelector
{
    display: inline;
    position: relative;
    z-index: 0;
    right: -10px;
    top: 5px;
    border-bottom: 2px solid transparent;
    border-left: 2px solid green;
    border-top: 2px solid transparent;
    height: 0;
    width: 10;
}


div#sidebar .Selected
{
    background-color: Black;
    color: White;
    padding: 5px;
    margin: 0px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid white;
}

div#sidebar .Selected:after
{
    height: 0;
    width: 10px;
    content: " >";
}

div#sidebar li a
{
    text-decoration: none;
}


div#sidebar #Submit
{
    width: 100%;
    height: 40px;
    border: 1px solid black;
    background-color: White;
    font-weight: bolder;
    text-transform: capitalize;
    font-size: 20pt;
    disabled: disabled;
}

div#sidebar hr
{
    border-bottom: 1px black;
    border-style: dashed;
}


/*
Content Styles
*/

div.Content
{
    width: 640px;
    float: right;
}

div.Content div
{
    width: 100%;
}

div.Content .Section .Header
{
    width: 100%;
    border-bottom: 2px solid black;
    font-size: 24pt;
    font-weight: bold;
    padding-top: 1.5em;
}

div.Content .Section:first-child .Header
{
    padding-top: 0px;
}



div.Content .Section .Field
{
    position: relative;
    display: inline-block;
    margin-top: 10px;
    padding: 10px;
}

div.Content .Section .Field > div
{
    display: inline;
}

div.Content .Section .Field .Label
{
    font-weight: bold;
    font-size: 18pt;
    width: 200px;
    vertical-align: top;
    display: inline-block;
}

div.Content .Section .Field div.Input
{
    vertical-align: middle;
}

div.Content .Section .Field input.date
{
    width: 200px;
}

/*
Tag-specific style
*/

div#main
{
    width: 900px;
    margin-top: 10px;
}

div.Main div
{
    display: inline-block;
}


div.PageTitle
{
    width: 100%;
    padding-top: 10px;
    font-weight: bold;
    font-size: 28pt;
}

hr#pageSeperator
{
    width: 100%;
    border: 2px solid black;
    margin-bottom: 10px;
}

input.Hour, input.Minute, input.BP
{
    width: 3em;
}

/*
Account Bar Control
*/
#accountBar, #accountBar div
{
    display: inline-block;
}

#accountBar
{
    width: auto;
    display: inline;
    white-space: nowrap;
    vertical-align: middle;
    padding-top: 20px;
}

#accountBar div
{
    margin: 0px;
    padding-left: 4px;
    padding-top: 4px;
    vertical-align: middle;
    text-align: center;
    border-left: 2px solid black;
}

#accountBar div:first-child
{
    border-left: none;
}

#accountBar div#nameContainer
{
    padding-top: 3px;
    font-weight: bold;
    width: auto;
    vertical-align: middle;
}


/*
Selectables
*/


ul.select
{
    display: inline;
    padding: 0px 10px;
    margin: 0px;
}

ul.select li
{
    display: inline;
    padding: 0px;
    margin: 0px;
}

ul.select .ui-selecting
{
    background: #FECA40;
}

ul.select .ui-selected
{
    background: black;
    color: white;
}

ul.select li
{
    text-transform:capitalize;
    padding:0 4px;
    font-size: 1.4em;
}

ul.select li:hover
{
    cursor:pointer;
    background-color:#FECA40;
}
