.js .checkbox{
  display:none;
}

.toggle{
   background:url(/content/images/toggle.png) bottom left;
    display:inline-block;
    width:70px;
    height:22px;
}

.toggle.checked{
  background-position:top left;
}