@model COP4710.Models.DispatchModel
@using COP4710.Extensions;
@using COP4710.Controllers;
@{
    ViewBag.Title = "Dispatch Form Edit";
    ViewBag.PageTitle = "Edit Form - " + Model.FormID;
}
@using (Html.BeginForm())
{
    @Html.ValidationSummary()

    <div class="Main" id="Main">
        <div class="Sidebar" id="sidebar">
            @Html.ActionLink("<< Detail", "Details", "Dispatch", new { id = Model.FormID }, new { @class = "Submit", @ID = "Back" })
            <ul id="sidebarLinks">
            </ul>
            <hr />
            <input type="submit" id="Submit" title="Update" value="Update" />
        </div>
        <div class="Content" id="content">
              @{
                Html.RenderPartial("Form", Model);
            }
        </div>
    </div>
}
<script type="text/javascript">

</script>
