@{
       
    Layout = "";
}
@using COP4710.Models;

@if (Session["CurrentUser"] != null)
{
<div id='accountBar'>
    <div id="nameContainer">
        Welcome, @(((UserModel)Session["CurrentUser"]).FirstName)
    </div>
    <div>
        <a href="@Url.Action("LogOff", "Account")">
            <img src="@Url.Content("~/Content/images/exit.png")" height="24px" width="24px" /></a>
    </div>
</div>
}