<div id='accountBar'>
    <div id="nameContainer">
        Welcome, Thomas
    </div>
    <div>
        <a href="#">
            <img src="@Url.Content("~/content/images/gear.png")" height="24px" width="24px" alt="Control" />
        </a>
    </div>
    <div>
        <a href="@Url.Action("LogOff", "Account")">
            <img src="@Url.Content("~/Content/images/exit.png")" height="24px" width="24px" /></a>
    </div>
</div>
