@{
    ViewBag.PageTitle = "My Information";
}
<div style="margin: 0 auto; width: auto; white-space: nowrap;">
    <div class="Field">
        <div class="Label">
            Username
        </div>
        <div>
            tomttrask
        </div>
    </div>
    <div class="Field">
        <div class="Label">
            Password
        </div>
        <div>
            *******
        </div>
    </div>
    <div class="Field">
        <div class="Label">
            Name
        </div>
        <div>
            Thomas Trask
        </div>
    </div>
</div>
